<label>Recipe name:</label><br>

<%= text_field_tag :name, @recipe.name %><br>

<label>Recipe Procedure:</label><br>
<%= text_area_tag :procedure, @recipe.procedure %><br>

<%= submit_tag "Submit Recipe" %>