<h1>Hello there, <%= @user.name %></h1>
<h2>Here are all your recipes</h2>

<% @recipes.each do |recipe| %>
    <div>
      <h2><%= recipe.name %></h2>
      <h3>Procedure</h3>
      <p> <%= recipe.procedure %></p>
    </div>
  <% end %>


  <h3><%= link_to "Homepage", root_path(@user)%></h3>