<h1>Hello there, <%= @user.name %></h1>
<h2>Here are all your recipes</h2>

<% @user.recipes.each_with_index do |recipe, index| %>
    <div>
      <h3><%=index+1%>. <%= recipe.name %></h3>

    </div>
  <% end %>


  <h3><%= link_to "Homepage", root_path(@user)%></h3>