<h1>Recipe </h1>

    <div>
      <h3><%= @recipe.title %></h3>
      <h4>Ingredients</h4>

      <h4>Procedure</h4>
      <p><%= @recipe.procedure %></p>
      <p><%= link_to "Edit Recipe", edit_user_recipe_path(@user)%></p>
    </div>



  <h3><%= link_to "Homepage", root_path(@user)%></h3>